* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}

html {
  height: 100%;
  body {
    height: 100%;
    background: $green-mid;/*$blue-dark;*/
    color: $white;
    
    .container {
      background: $green-mid;//#34495e;
      height: 100%;
      -webkit-transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
      padding-top: $header-h;
      
      
      .loading {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 200px;
        left: 50%;
        margin: -20px;
        font-size: 100px;
        animation: rot 3s infinite linear;
      }
      
      .visually-hidden {
        @include visuallyhidden();
      }
      
      #header {
        @include clearfix();
        position: absolute;
        top: 0;left: 0; z-index: 9;
        background: $green-mid;
        height: $header-h; width: 100%;
        padding: 0 10px;
        @include opacity(.8);
        .title {text-align: center; margin: 0 auto;}
        #trigger-overlay {float: right; top: 0; display: block; width: 28px; height: 100%; background: url(../images/bt_menu.png) center center no-repeat; background-size: 50%; text-indent: -50000px;}
        #get-a-car {background: url(../images/logo_getacar.png) left center no-repeat; background-size: 40%; display: block; text-indent: -5000px; width: 100px; height: $header-h; float: left;}
      }

      .overlay {
        background-color: $blue-dark;
        @include opacity(.9);
        position: fixed;
        z-index: 99;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        
        nav {
          @media screen and (max-height: 30.5em) {
            height: 70%;
            font-size: 34px;
          }
          text-align: center;
          position: relative;
          top: 50%;
          height: 60%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          ul {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            display: inline-block;
            height: 100%;
            position: relative;
            
            li {
              display: block;
              height: 20%;
              height: calc(100% / 5);
              min-height: 54px;
              
              @media screen and (max-height: 30.5em) {
                min-height: 34px;
              }
              
              a {
                @include font-size(5.4);
                //font-size: 54px;
                font-weight: 300;
                display: block;
                color: #fff;
                -webkit-transition: color 0.2s;
                transition: color 0.2s;
                
                &:hover,
                &:focus {
                  color: #f0f0f0;
                }
              }
            }
          }
        }
        
        .overlay-close {
        cursor: pointer;
        width: 80px;
        height: 80px;
        position: absolute;
        right: 20px;
        top: 20px;
        overflow: hidden;
        border: none;
        background: url(../images/cross.png) no-repeat center center;
        text-indent: 200%;
        color: transparent;
        outline: none;
        z-index: 100;
      }
      }
      .overlay-contentscale {
        visibility: hidden;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
        transition: transform 0.5s, visibility 0s 0.5s;
      }
      .overlay-contentscale.open {
        visibility: visible;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
      }
      
      @media screen and (max-height: 30.5em) {
        .overlay nav {
    height: 70%;
    font-size: 34px;
  }
        .overlay ul li {
    min-height: 34px;
  }
      }
      
      
      /* HOME */
      .home {
        $circle-r : 110px;
        $content-w : 400px;
        padding-top: 10%;
        .bt-circle {
          @include bt-circle($circle-r, $circle-r);
          margin: 0 auto;
        }
        .title-action {
          text-align: center; text-transform: uppercase; @include font-size(2.0); margin: 0 auto;
          width: $content-w;
          @media screen and (max-width: $viewport600) {@include font-size(1.5); width: 240px;}
        }
        form[name=localizeForm] {
          .title-action {padding-bottom: 20px;}
        }
        form[name=geoCodeForm] {
          margin-top: 44px;
          .title-action {padding-top: 20px;}
          .search-box {
            width: $content-w; margin: 0 auto;
            position: relative;
            @include clearfix();
            height: $circle-r;
            
            .bt-search {
              @include hw-accelerate();
              -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease;
              
            }
            .bt-search.active {
              //@include build-prefix-values('transform', translate3d(-144px, 0, 0));
              @include build-prefix-values('transform', translate3d(-117px, 0, 0));
              text-indent: -50000px;
              width: 40px; height: 40px; margin-top: 35px;
              &:hover {border: 2px solid $white;}
            }
            
            .address-box {
              @include hw-accelerate();
              -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease;
              padding: 0 10px;
              margin-top: ($circle-r / 2) - ($touch-area / 2);
              position: absolute; right: 0; top: 0;
              
              @include build-prefix-values('transform', translate3d(1000px, 0, 0));
              @include text-box();
            }
            .address-box.active {@include build-prefix-values('transform', translate3d(0, 0, 0));}
          }
        }
      }
      
      
      #map-canvas {
        width: 100%; height: 100%;
        position: fixed!important;
        top: 0;
        z-index: 0;
      }
    } //container
    
    .container.overlay-open {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
    
    

  }
}


