@mixin font-size($size:$base-font-size, $line: $size * 1.5){
  font-size:   ($size * 10) + px;
  line-height: ($line * 10) + px;
  font-size:   $size + rem;
  line-height: $line + rem;
}

@mixin btn ($width: auto) {
  
  @include transition(all,0.3s,ease-in-out);
  @include border-radius(4px);
  line-height: 40px; background-color: $white;
  color: $blue-dark;
  display: block;
  padding: 0 2em;
  text-align: center;
  text-decoration: none;
  width: $width;
  &:link,&:visited,&:hover,&:active {}
  &:hover {
    background-color: $green-light;
    @include border-radius(0);
  }
  
}

@function calc-percent($target, $container) {
  @return ($target / $container) * 100%;
}

@mixin text-box($w: 280px, $h: 40px) {
  width: $w; height: $h;
  @include border-radius(4px);
  border: 0;
  display: block;
}

@mixin bt-circle ($w: 100px, $h: 100px, $bg:$green-mid) {
  @include hw-accelerate();
  cursor: pointer;
  width: $w;
  height: $h;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  border-radius: 50%;
  border: 3px solid $white;
  background: $bg;
  display: block;
  -webkit-appearance: none;

  -webkit-transition: all 500ms $ease-out-back-old;
  -webkit-transition: all 500ms $ease-out-back;
   -moz-transition: all 500ms $ease-out-back;
     -o-transition: all 500ms $ease-out-back;
        transition: all 500ms $ease-out-back;
  
  &:hover {border:10px solid $white;}
}

@mixin hw-accelerate () {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
}

@mixin circle-rwd () {
  width: 50%;
  height:0;
  padding-bottom: 50%;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  border-radius: 50%;
  background: #4679BD; 
}

/*
@mixin circle-text () {
  .circle-text {
    width:50%;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #4679BD; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}
}
*/


@mixin visuallyhidden {
  position: absolute;
  width: 1px; 
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


@-webkit-keyframes rot {
  from {
    transform: rotate(0deg)
               translate(-150px)
               rotate(0deg);
  }
  to {
    transform: rotate(360deg)
               translate(-150px) 
               rotate(-360deg);
  }
}





$default-prefixes: webkit moz ms o;
@mixin build-prefix-values($property, $value, $prefixes: $default-prefixes) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: #{$value};
  }
  #{$property}: #{$value};
}
@mixin transition($property: all, $duration: .6s, $timing: linear) {
  $value: $property $duration $timing;
  // use default prefixes
  @include build-prefix-values('transition', $value);
}

/* USAGE */
/*

// using defaults of 'all' '1s' and 'linear'
p {
    @include transition();
}
// using custom values
.fast {
    @include transition('height', '.1s', 'ease', '0');
}

*/

/* /USAGE */