// FONTS
$base-font-size: 10px;
$base-line-height: 16px;

$font-light: 100;
$font-normal: 400;
$font-bold: 700;

// COLORS
$blue-dark: #34495e;
$blue-light: #38b6e0;
$white: #fcfcfc;
$green: #16a085;
$green-light: #73c6b6;
$green-mid: #5bbca9;
$green-dark: #266258;
$green-odd: #10947a;
$green-even: #007d67;
$green-black: #0e312b;
$gray: #a1a1a1;

// DIMENSIONS
$header-h: 40px;
$switcher-h:66px;
$gutter: 16px;
$touch-area: 40px;

$viewport480: 480px;
$viewport600: 600px;


// TIMING FUNCTIONS
$ease-out-back: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$ease-out-back-old: cubic-bezier(0.175, 0.885, 0.320, 1);
$custom: cubic-bezier(.10, .10, .25, .90);