// FONTS
$base-font-size: 10px;
$base-line-height: 16px;

// COLORS
$blue-dark: #34495e;
$white: #fcfcfc;
$green-light: #48cab0;
$green-mid: #27a389;

// DIMENSIONS
$header-h: 40px;
$gutter: 16px;

$viewport600: 600px;