@import url(http://fonts.googleapis.com/css?family=Ropa+Sans);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* USAGE */
/* /USAGE */
/* line 8, ../scss/_fonts.scss */
html {
  font-size: 100%;
}
/* line 10, ../scss/_fonts.scss */
html body {
  font-family: 'Ropa Sans', sans-serif;
  color: #fcfcfc;
  font-size: 62.5%;
}
/* line 15, ../scss/_fonts.scss */
html body h1 {
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem;
}

/* line 1, ../scss/_main.scss */
html {
  height: 100%;
}
/* line 3, ../scss/_main.scss */
html body {
  height: 100%;
  background: #34495e;
  color: #fcfcfc;
}
/* line 8, ../scss/_main.scss */
html body .container {
  background: #34495e;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
/* line 14, ../scss/_main.scss */
html body .container .title {
  text-align: center;
}
/* line 15, ../scss/_main.scss */
html body .container .btn {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  line-height: 40px;
  background-color: #fcfcfc;
  color: #34495e;
  display: block;
  padding: 0 2em;
  text-align: center;
  text-decoration: none;
  width: 100px;
  margin: 0 auto;
}
/* line 20, ../scss/_mixins.scss */
html body .container .btn:hover {
  background-color: #48cab0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 20, ../scss/_main.scss */
html body .container .overlay {
  background-color: #27a389;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* line 29, ../scss/_main.scss */
html body .container .overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (max-height: 30.5em) {
  /* line 29, ../scss/_main.scss */
  html body .container .overlay nav {
    height: 70%;
    font-size: 34px;
  }
}
/* line 40, ../scss/_main.scss */
html body .container .overlay nav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}
/* line 48, ../scss/_main.scss */
html body .container .overlay nav ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
}
@media screen and (max-height: 30.5em) {
  /* line 48, ../scss/_main.scss */
  html body .container .overlay nav ul li {
    min-height: 34px;
  }
}
/* line 58, ../scss/_main.scss */
html body .container .overlay nav ul li a {
  font-size: 54px;
  line-height: 81.0px;
  font-size: 5.4rem;
  line-height: 8.1rem;
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
/* line 68, ../scss/_main.scss */
html body .container .overlay nav ul li a:hover, html body .container .overlay nav ul li a:focus {
  color: #f0f0f0;
}
/* line 76, ../scss/_main.scss */
html body .container .overlay .overlay-close {
  cursor: pointer;
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../images/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}
/* line 92, ../scss/_main.scss */
html body .container .overlay-contentscale {
  visibility: hidden;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
  transition: transform 0.5s, visibility 0s 0.5s;
}
/* line 99, ../scss/_main.scss */
html body .container .overlay-contentscale.open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
@media screen and (max-height: 30.5em) {
  /* line 108, ../scss/_main.scss */
  html body .container .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  /* line 112, ../scss/_main.scss */
  html body .container .overlay ul li {
    min-height: 34px;
  }
}
/* line 119, ../scss/_main.scss */
html body .container #map-canvas {
  width: 100%;
  height: 100%;
  position: fixed !important;
  top: 0;
}
/* line 126, ../scss/_main.scss */
html body .container.overlay-open {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
