@import url(http://fonts.googleapis.com/css?family=Lato:100,400,700);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
@mixin circle-text () {
  .circle-text {
    width:50%;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #4679BD; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}
}
*/
@-moz-keyframes spin {
  /* line 149, ../scss/_mixins.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 153, ../scss/_mixins.scss */
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  /* line 159, ../scss/_mixins.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 163, ../scss/_mixins.scss */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  /* line 168, ../scss/_mixins.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 172, ../scss/_mixins.scss */
  100% {
    transform: rotate(360deg);
  }
}

/* USAGE */
/* /USAGE */
/* line 9, ../scss/_fonts.scss */
html {
  font-size: 62.5%;
}
/* line 11, ../scss/_fonts.scss */
html body {
  font-family: 'Lato', sans-serif;
  color: #fcfcfc;
  font-size: 62.5%;
}
/* line 16, ../scss/_fonts.scss */
html body h1 {
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem;
}

/* line 1, ../scss/_main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 2, ../scss/_main.scss */
textarea:focus, input:focus, button:focus {
  outline: 0;
}

/* line 6, ../scss/_main.scss */
html {
  height: 100%;
}
/* line 8, ../scss/_main.scss */
html body {
  height: 100%;
  background: #16a085;
  /*$blue-dark;*/
  color: #fcfcfc;
}
/* line 14, ../scss/_main.scss */
html body .container {
  background: #16a085;
  height: 100%;
  /*
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
  */
  padding-top: 40px;
}
/* line 23, ../scss/_main.scss */
html body .container .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* line 27, ../scss/_main.scss */
html body .container #header {
  overflow: hidden;
  *zoom: 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 35, ../scss/_main.scss */
html body .container #header .title {
  text-align: center;
  margin: 0 auto;
}
/* line 36, ../scss/_main.scss */
html body .container #header #trigger-overlay {
  float: right;
  top: 0;
  display: block;
  width: 28px;
  height: 100%;
  background: url(../images/bt_menu.png) center center no-repeat;
  background-size: 50%;
  text-indent: -50000px;
}
/* line 37, ../scss/_main.scss */
html body .container #header #get-a-car {
  background: url(../images/logo_getacar_w.png) left center no-repeat;
  background-size: 30%;
  display: block;
  text-indent: -5000px;
  width: 100px;
  height: 40px;
  float: left;
}
/* line 40, ../scss/_main.scss */
html body .container .overlay {
  background-color: #fcfcfc;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* line 50, ../scss/_main.scss */
html body .container .overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (max-height: 30.5em) {
  /* line 50, ../scss/_main.scss */
  html body .container .overlay nav {
    height: 70%;
    font-size: 34px;
  }
}
/* line 61, ../scss/_main.scss */
html body .container .overlay nav ul {
  list-style: none;
  padding: 0 0 20px;
  margin: 0 auto;
  display: inline-block;
  position: relative;
}
/* line 69, ../scss/_main.scss */
html body .container .overlay nav ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
}
@media screen and (max-height: 30.5em) {
  /* line 69, ../scss/_main.scss */
  html body .container .overlay nav ul li {
    min-height: 34px;
  }
}
/* line 79, ../scss/_main.scss */
html body .container .overlay nav ul li a {
  font-size: 27px;
  line-height: 40.5px;
  font-size: 2.7rem;
  line-height: 4.05rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  color: #a1a1a1;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
/* line 91, ../scss/_main.scss */
html body .container .overlay nav ul li a:hover, html body .container .overlay nav ul li a:focus {
  color: #f0f0f0;
}
/* line 97, ../scss/_main.scss */
html body .container .overlay nav .logo-getacar {
  display: block;
  width: 100%;
  height: 127px;
  background: url(../images/logo_getacar_complete@x2.png) center center no-repeat;
  background-size: 106px;
}
/* line 104, ../scss/_main.scss */
html body .container .overlay .copy {
  font-size: 12px;
  line-height: 18px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #a1a1a1;
  position: absolute;
  bottom: 10px;
  left: 0;
  text-align: center;
  width: 100%;
}
/* line 110, ../scss/_main.scss */
html body .container .overlay .overlay-close {
  cursor: pointer;
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../images/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 110, ../scss/_main.scss */
  html body .container .overlay .overlay-close {
    background: url(../images/cross@x2.png) 12px 10px no-repeat;
    background-size: 30px;
  }
}
/* line 132, ../scss/_main.scss */
html body .container .overlay-contentscale {
  visibility: hidden;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
  transition: transform 0.5s, visibility 0s 0.5s;
}
/* line 139, ../scss/_main.scss */
html body .container .overlay-contentscale.open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
@media screen and (max-height: 30.5em) {
  /* line 148, ../scss/_main.scss */
  html body .container .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  /* line 152, ../scss/_main.scss */
  html body .container .overlay ul li {
    min-height: 34px;
  }
}
/* line 158, ../scss/_main.scss */
html body .container .bucket {
  padding-bottom: 66px;
  /* HOME */
  /* LIST */
  /* MAP */
}
/* line 162, ../scss/_main.scss */
html body .container .bucket .home {
  width: 290px;
  margin: 0 auto;
  padding-top: 5%;
}
/* line 169, ../scss/_main.scss */
html body .container .bucket .home .bt-circle {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  width: 110px;
  height: 110px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #fcfcfc;
  background: #5bbca9;
  display: block;
  -webkit-appearance: none;
  margin: 0 auto;
}
/* line 57, ../scss/_mixins.scss */
html body .container .bucket .home .bt-circle:hover {
  border: 10px solid #fcfcfc;
}
/* line 173, ../scss/_main.scss */
html body .container .bucket .home .title-action {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem;
  margin: 0 auto;
  width: 290px;
}
@media screen and (max-width: 600px) {
  /* line 173, ../scss/_main.scss */
  html body .container .bucket .home .title-action {
    font-size: 15px;
    line-height: 22.5px;
    font-size: 1.5rem;
    line-height: 2.25rem;
    width: 240px;
  }
}
/* line 179, ../scss/_main.scss */
html body .container .bucket .home form[name=localizeForm] .title-action {
  padding-bottom: 20px;
}
/* line 180, ../scss/_main.scss */
html body .container .bucket .home form[name=localizeForm] .bt-getme {
  text-indent: -50000px;
  background: url(../images/ico_geo.png) center center no-repeat;
  /*
  background: url(../images/ico_search.png) center center no-repeat;
  @media 
  (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) {
    background:url(../images/ico_search@x2.png) center center no-repeat;
    background-size: 40px;
  }
  */
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 180, ../scss/_main.scss */
  html body .container .bucket .home form[name=localizeForm] .bt-getme {
    background: url(../images/ico_geo@x2.png) center center no-repeat;
    background-size: 40px;
  }
}
/* line 190, ../scss/_main.scss */
html body .container .bucket .home form[name=localizeForm] .spin {
  -webkit-animation: spin 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  -moz-animation: spin 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  -ms-animation: spin 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  animation: spin 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}
/* line 192, ../scss/_main.scss */
html body .container .bucket .home form[name=geoCodeForm] {
  margin-top: 44px;
}
/* line 194, ../scss/_main.scss */
html body .container .bucket .home form[name=geoCodeForm] .title-action {
  padding-top: 20px;
}
/* line 195, ../scss/_main.scss */
html body .container .bucket .home form[name=geoCodeForm] .search-box {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  *zoom: 1;
  height: 110px;
}
/* line 201, ../scss/_main.scss */
html body .container .bucket .home form[name=geoCodeForm] .search-box .bt-search {
  text-indent: -50000px;
  background: url(../images/ico_search.png) center center no-repeat;
  /*
  background: url(../images/ico_search.png) center center no-repeat;
  @media 
  (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) {
    background:url(../images/ico_search@x2.png) center center no-repeat;
    background-size: 40px;
  }
  */
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 201, ../scss/_main.scss */
  html body .container .bucket .home form[name=geoCodeForm] .search-box .bt-search {
    background: url(../images/ico_search@x2.png) center center no-repeat;
    background-size: 40px;
  }
}
/* line 209, ../scss/_main.scss */
html body .container .bucket .home form[name=geoCodeForm] .search-box .bt-search.active {
  -webkit-transform: translate3d(115px, 0, 0);
  -moz-transform: translate3d(115px, 0, 0);
  -ms-transform: translate3d(115px, 0, 0);
  -o-transform: translate3d(115px, 0, 0);
  transform: translate3d(115px, 0, 0);
  background-size: 20px;
  text-indent: -50000px;
  width: 40px;
  height: 40px;
  margin-top: 35px;
}
/* line 215, ../scss/_main.scss */
html body .container .bucket .home form[name=geoCodeForm] .search-box .bt-search.active:hover {
  border: 2px solid #fcfcfc;
}
/* line 218, ../scss/_main.scss */
html body .container .bucket .home form[name=geoCodeForm] .search-box .address-box {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0.1, 0.1, 0.25, 0.9);
  -moz-transition: all 0.5s cubic-bezier(0.1, 0.1, 0.25, 0.9);
  -ms-transition: all 0.5s cubic-bezier(0.1, 0.1, 0.25, 0.9);
  -o-transition: all 0.5s cubic-bezier(0.1, 0.1, 0.25, 0.9);
  transition: all 0.5s cubic-bezier(0.1, 0.1, 0.25, 0.9);
  padding: 0 10px;
  margin-top: 35px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate3d(-700px, 0, 0);
  -moz-transform: translate3d(-700px, 0, 0);
  -ms-transform: translate3d(-700px, 0, 0);
  -o-transform: translate3d(-700px, 0, 0);
  transform: translate3d(-700px, 0, 0);
  width: 200px;
  height: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  display: block;
}
/* line 229, ../scss/_main.scss */
html body .container .bucket .home form[name=geoCodeForm] .search-box .address-box.active {
  -webkit-transform: translate3d(-60px, 0, 0);
  -moz-transform: translate3d(-60px, 0, 0);
  -ms-transform: translate3d(-60px, 0, 0);
  -o-transform: translate3d(-60px, 0, 0);
  transform: translate3d(-60px, 0, 0);
}
/* line 238, ../scss/_main.scss */
html body .container .bucket .car-list {
  padding: 10px 0 0;
}
/* line 240, ../scss/_main.scss */
html body .container .bucket .car-list .header {
  -webkit-box-shadow: inset 0 -11px 14px -15px #040404;
  box-shadow: inset 0 -11px 14px -15px #040404;
  background: url(../images/car_list_start.png) 13px 10px no-repeat;
  min-height: 33px;
  padding: 10px 28px 10px 12px;
  overflow: hidden;
  *zoom: 1;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 240, ../scss/_main.scss */
  html body .container .bucket .car-list .header {
    background: url(../images/car_list_start@x2.png) 9px 0 no-repeat;
    background-size: 41px;
  }
}
/* line 253, ../scss/_main.scss */
html body .container .bucket .car-list .header .go-search {
  float: right;
  background: url(../images/ico_search.png) right center no-repeat;
  width: 48px;
  height: 49px;
  display: block;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 253, ../scss/_main.scss */
  html body .container .bucket .car-list .header .go-search {
    background: url(../images/ico_search@x2.png) center center no-repeat;
    background-size: 28px;
  }
}
/* line 262, ../scss/_main.scss */
html body .container .bucket .car-list .header .my-search {
  float: left;
}
/* line 264, ../scss/_main.scss */
html body .container .bucket .car-list .header .my-search .city {
  padding-left: 50px;
  color: #266258;
  font-size: 12px;
  line-height: 18px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  line-height: 12px;
  line-height: 1.2rem;
  font-weight: 700;
}
/* line 265, ../scss/_main.scss */
html body .container .bucket .car-list .header .my-search .address {
  padding-left: 50px;
  font-size: 15px;
  line-height: 22.5px;
  font-size: 1.5rem;
  line-height: 2.25rem;
  line-height: 15px;
  line-height: 1.5rem;
  font-weight: 700;
}
/* line 268, ../scss/_main.scss */
html body .container .bucket .car-list .cars {
  padding-left: 27px;
  background: #5bbca9;
  border-bottom: 1px solid #16a085;
}
/* line 271, ../scss/_main.scss */
html body .container .bucket .car-list .cars .car.enjoy {
  background: url(../images/ico_enj.png) left center no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 271, ../scss/_main.scss */
  html body .container .bucket .car-list .cars .car.enjoy {
    background: url(../images/ico_enj@x2.png) 0px center no-repeat;
    background-size: 42px;
  }
}
/* line 280, ../scss/_main.scss */
html body .container .bucket .car-list .cars .car.car2go {
  background: url(../images/ico_c2g.png) left center no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 280, ../scss/_main.scss */
  html body .container .bucket .car-list .cars .car.car2go {
    background: url(../images/ico_c2g@x2.png) 0px center no-repeat;
    background-size: 42px;
  }
}
/* line 289, ../scss/_main.scss */
html body .container .bucket .car-list .cars .car {
  border-left: 2px solid #fcfcfc;
  padding: 12px 28px 12px 50px;
  overflow: hidden;
  *zoom: 1;
  /*.sprite-img {
    position: relative; overflow: hidden;
    img {position: absolute; width: 40px; height: auto;}
  }*/
}
/* line 294, ../scss/_main.scss */
html body .container .bucket .car-list .cars .car ul {
  float: left;
  overflow: hidden;
  *zoom: 1;
  padding-top: 16px;
}
/* line 298, ../scss/_main.scss */
html body .container .bucket .car-list .cars .car ul .vendor {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 22.5px;
  font-size: 1.5rem;
  line-height: 2.25rem;
  line-height: 15px;
  line-height: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
}
/* line 299, ../scss/_main.scss */
html body .container .bucket .car-list .cars .car ul .model {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-size: 2.4rem;
  line-height: 3.6rem;
  line-height: 24px;
  line-height: 2.4rem;
  font-weight: 100;
  text-transform: uppercase;
}
/* line 300, ../scss/_main.scss */
html body .container .bucket .car-list .cars .car ul .distance {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  line-height: 12px;
  line-height: 1.2rem;
  font-weight: 400;
  color: #266258;
}
/* line 302, ../scss/_main.scss */
html body .container .bucket .car-list .cars .car .bt-goto-map {
  display: block;
  width: 40px;
  height: 80px;
  float: right;
  /* @include icons-sprite(ico_arrow); */
  text-indent: -50000px;
  background: url(../images/ico_arrow.png) right center no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 302, ../scss/_main.scss */
  html body .container .bucket .car-list .cars .car .bt-goto-map {
    background: url(../images/ico_arrow@x2.png) right center no-repeat;
    background-size: 40px;
  }
}
/* line 319, ../scss/_main.scss */
html body .container .bucket .car-list .cars:nth-child(2n) {
  background-color: #73c6b6;
}
/* line 323, ../scss/_main.scss */
html body .container .bucket #map-canvas {
  width: 100%;
  height: 100%;
  position: fixed !important;
  top: 0;
  z-index: 0;
}
/* line 328, ../scss/_main.scss */
html body .container .bucket #map-canvas .map-overlay {
  background: #16a085;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  position: absolute;
}
/* line 335, ../scss/_main.scss */
html body .container .bucket #car-info {
  background-color: #fcfcfc;
  padding: 10px;
  position: absolute;
  bottom: 66px;
  left: 0;
  width: 100%;
  z-index: 99;
}
/* line 344, ../scss/_main.scss */
html body .container .bucket #car-info ul li {
  float: left;
  width: 33%;
}
/* line 347, ../scss/_main.scss */
html body .container .bucket #car-info ul li span {
  color: #a1a1a1;
  display: block;
  text-align: center;
}
/* line 348, ../scss/_main.scss */
html body .container .bucket #car-info ul li .feature {
  color: #266258;
  font-size: 9px;
  line-height: 13.5px;
  font-size: 0.9rem;
  line-height: 1.35rem;
  text-transform: uppercase;
}
/* line 349, ../scss/_main.scss */
html body .container .bucket #car-info ul li .value {
  color: #5bbca9;
  font-size: 24px;
  line-height: 36px;
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: 400;
}
/* line 355, ../scss/_main.scss */
html body .container .bucket #switcher {
  position: fixed;
  bottom: -66px;
  left: 0;
  z-index: 99;
  border-top: 1px solid #fcfcfc;
  width: 100%;
  -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/* line 360, ../scss/_main.scss */
html body .container .bucket #switcher ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 362, ../scss/_main.scss */
html body .container .bucket #switcher ul li {
  float: left;
  display: inline;
  background: #5bbca9;
  width: 50%;
  text-indent: -50000px;
}
/* line 364, ../scss/_main.scss */
html body .container .bucket #switcher ul li a {
  height: 66px;
  width: 100%;
  display: block;
  text-align: center;
  line-height: 66px;
  text-decoration: none;
}
/* line 366, ../scss/_main.scss */
html body .container .bucket #switcher ul .list-view {
  background: #5bbca9 url(../images/ico_list_off.png) center center no-repeat;
  background-size: 3em;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 366, ../scss/_main.scss */
  html body .container .bucket #switcher ul .list-view {
    background: #5bbca9 url(../images/ico_list_off@x2.png) center center no-repeat;
    background-size: 3em;
  }
}
/* line 374, ../scss/_main.scss */
html body .container .bucket #switcher ul .list-view.active {
  background: #fcfcfc url(../images/ico_list_on.png) center center no-repeat;
  background-size: 3em;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 374, ../scss/_main.scss */
  html body .container .bucket #switcher ul .list-view.active {
    background: #fcfcfc url(../images/ico_list_on@x2.png) center center no-repeat;
    background-size: 3em;
  }
}
/* line 382, ../scss/_main.scss */
html body .container .bucket #switcher ul .map-view {
  background: #5bbca9 url(../images/ico_map_off.png) center center no-repeat;
  background-size: 3em;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 382, ../scss/_main.scss */
  html body .container .bucket #switcher ul .map-view {
    background: #5bbca9 url(../images/ico_map_off@x2.png) center center no-repeat;
    background-size: 3em;
  }
}
/* line 390, ../scss/_main.scss */
html body .container .bucket #switcher ul .map-view.active {
  background: #fcfcfc url(../images/ico_map_on.png) center center no-repeat;
  background-size: 3em;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 390, ../scss/_main.scss */
  html body .container .bucket #switcher ul .map-view.active {
    background: #fcfcfc url(../images/ico_map_on@x2.png) center center no-repeat;
    background-size: 3em;
  }
}
/* line 400, ../scss/_main.scss */
html body .container .bucket #switcher.open {
  bottom: 0;
}
/* line 407, ../scss/_main.scss */
html body .container.overlay-open {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
