@import url(http://fonts.googleapis.com/css?family=Ropa+Sans);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
@mixin circle-text () {
  .circle-text {
    width:50%;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #4679BD; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}
}
*/
@-webkit-keyframes rot {
  /* line 123, ../scss/_mixins.scss */
  from {
    transform: rotate(0deg) translate(-150px) rotate(0deg);
  }

  /* line 128, ../scss/_mixins.scss */
  to {
    transform: rotate(360deg) translate(-150px) rotate(-360deg);
  }
}

/* USAGE */
/* /USAGE */
/* line 8, ../scss/_fonts.scss */
html {
  font-size: 100%;
}
/* line 10, ../scss/_fonts.scss */
html body {
  font-family: 'Ropa Sans', sans-serif;
  color: #fcfcfc;
  font-size: 62.5%;
}
/* line 15, ../scss/_fonts.scss */
html body h1 {
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem;
}

/* line 1, ../scss/_main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 3, ../scss/_main.scss */
html {
  height: 100%;
}
/* line 5, ../scss/_main.scss */
html body {
  height: 100%;
  background: #27a389;
  /*$blue-dark;*/
  color: #fcfcfc;
}
/* line 10, ../scss/_main.scss */
html body .container {
  background: #27a389;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  padding-top: 40px;
  /* HOME */
}
/* line 18, ../scss/_main.scss */
html body .container .loading {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 200px;
  left: 50%;
  margin: -20px;
  font-size: 100px;
  animation: rot 3s infinite linear;
}
/* line 29, ../scss/_main.scss */
html body .container .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* line 33, ../scss/_main.scss */
html body .container #header {
  overflow: hidden;
  *zoom: 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  background: #27a389;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 41, ../scss/_main.scss */
html body .container #header .title {
  text-align: center;
  margin: 0 auto;
}
/* line 42, ../scss/_main.scss */
html body .container #header #trigger-overlay {
  float: right;
  top: 0;
  display: block;
  width: 28px;
  height: 100%;
  background: url(../images/bt_menu.png) center center no-repeat;
  background-size: 50%;
  text-indent: -50000px;
}
/* line 43, ../scss/_main.scss */
html body .container #header #get-a-car {
  background: url(../images/logo_getacar.png) left center no-repeat;
  background-size: 40%;
  display: block;
  text-indent: -5000px;
  width: 100px;
  height: 40px;
  float: left;
}
/* line 46, ../scss/_main.scss */
html body .container .overlay {
  background-color: #34495e;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* line 56, ../scss/_main.scss */
html body .container .overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (max-height: 30.5em) {
  /* line 56, ../scss/_main.scss */
  html body .container .overlay nav {
    height: 70%;
    font-size: 34px;
  }
}
/* line 67, ../scss/_main.scss */
html body .container .overlay nav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}
/* line 75, ../scss/_main.scss */
html body .container .overlay nav ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
}
@media screen and (max-height: 30.5em) {
  /* line 75, ../scss/_main.scss */
  html body .container .overlay nav ul li {
    min-height: 34px;
  }
}
/* line 85, ../scss/_main.scss */
html body .container .overlay nav ul li a {
  font-size: 54px;
  line-height: 81.0px;
  font-size: 5.4rem;
  line-height: 8.1rem;
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
/* line 95, ../scss/_main.scss */
html body .container .overlay nav ul li a:hover, html body .container .overlay nav ul li a:focus {
  color: #f0f0f0;
}
/* line 103, ../scss/_main.scss */
html body .container .overlay .overlay-close {
  cursor: pointer;
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../images/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}
/* line 119, ../scss/_main.scss */
html body .container .overlay-contentscale {
  visibility: hidden;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
  transition: transform 0.5s, visibility 0s 0.5s;
}
/* line 126, ../scss/_main.scss */
html body .container .overlay-contentscale.open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
@media screen and (max-height: 30.5em) {
  /* line 135, ../scss/_main.scss */
  html body .container .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  /* line 139, ../scss/_main.scss */
  html body .container .overlay ul li {
    min-height: 34px;
  }
}
/* line 146, ../scss/_main.scss */
html body .container .home {
  padding-top: 10%;
}
/* line 150, ../scss/_main.scss */
html body .container .home .bt-circle {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  cursor: pointer;
  width: 110px;
  height: 110px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #fcfcfc;
  background: #27a389;
  display: block;
  -webkit-appearance: none;
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  margin: 0 auto;
}
/* line 57, ../scss/_mixins.scss */
html body .container .home .bt-circle:hover {
  border: 10px solid #fcfcfc;
}
/* line 154, ../scss/_main.scss */
html body .container .home .title-action {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem;
  margin: 0 auto;
  width: 400px;
}
@media screen and (max-width: 600px) {
  /* line 154, ../scss/_main.scss */
  html body .container .home .title-action {
    font-size: 15px;
    line-height: 22.5px;
    font-size: 1.5rem;
    line-height: 2.25rem;
    width: 240px;
  }
}
/* line 160, ../scss/_main.scss */
html body .container .home form[name=localizeForm] .title-action {
  padding-bottom: 20px;
}
/* line 162, ../scss/_main.scss */
html body .container .home form[name=geoCodeForm] {
  margin-top: 44px;
}
/* line 164, ../scss/_main.scss */
html body .container .home form[name=geoCodeForm] .title-action {
  padding-top: 20px;
}
/* line 165, ../scss/_main.scss */
html body .container .home form[name=geoCodeForm] .search-box {
  width: 400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  *zoom: 1;
  height: 110px;
}
/* line 171, ../scss/_main.scss */
html body .container .home form[name=geoCodeForm] .search-box .bt-search {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 177, ../scss/_main.scss */
html body .container .home form[name=geoCodeForm] .search-box .bt-search.active {
  -webkit-transform: translate3d(-117px, 0, 0);
  -moz-transform: translate3d(-117px, 0, 0);
  -ms-transform: translate3d(-117px, 0, 0);
  -o-transform: translate3d(-117px, 0, 0);
  transform: translate3d(-117px, 0, 0);
  text-indent: -50000px;
  width: 40px;
  height: 40px;
  margin-top: 35px;
}
/* line 182, ../scss/_main.scss */
html body .container .home form[name=geoCodeForm] .search-box .bt-search.active:hover {
  border: 2px solid #fcfcfc;
}
/* line 185, ../scss/_main.scss */
html body .container .home form[name=geoCodeForm] .search-box .address-box {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 0 10px;
  margin-top: 35px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate3d(1000px, 0, 0);
  -moz-transform: translate3d(1000px, 0, 0);
  -ms-transform: translate3d(1000px, 0, 0);
  -o-transform: translate3d(1000px, 0, 0);
  transform: translate3d(1000px, 0, 0);
  width: 280px;
  height: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  display: block;
}
/* line 196, ../scss/_main.scss */
html body .container .home form[name=geoCodeForm] .search-box .address-box.active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 202, ../scss/_main.scss */
html body .container #map-canvas {
  width: 100%;
  height: 100%;
  position: fixed !important;
  top: 0;
  z-index: 0;
}
/* line 210, ../scss/_main.scss */
html body .container.overlay-open {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
